@model List<SearchingModel>
@{
}
@if (Model is not null && Model.Count != 0)
{
    <h2>Your delicious cocktails:</h2>
    <p>Count: @Model.Count</p>
    <div class="container flex-row d-flex text-center justify-content-around flex-wrap">
        @if (Model is not null)
        {

            @foreach (var s in Model)
            {
                <a class="searchItem text-center p-2 m-2 card" href='@Url.Action("cocktail", "search", new { id = s.Id}, null)'>
                    <p>@s.Name</p>
                    <img src="@s.imageUrl" class="cocktailSearchIcon rounded img-fluid">
                </a>
            }
        }
    </div>

}
else
{
    <h2>I don't know those cocktails...</h2>
}
